<h1 id="tableLabel">Makeham law</h1>

<div class="row">
  <div class="col-3">
    Alpha <br> <input type="number" [(ngModel)]="alpha"> <br>
    A <br> <input type="number" [(ngModel)]="a"> <br>
    B <br> <input type="number" [(ngModel)]="b"> <br>

    <div class="row">
      <button type="button" class="btn btn-info col-5" (click)="GetMortalityTable()">Mortality Table</button>
      <button type="button" class="btn btn-info col-5 offset-1" (click)="GetPlot()">Plot</button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-info col-5" (click)="CompareWithRealData()">Compare Plot</button>
      <button type="button" class="btn btn-info col-5 offset-1" (click)="FindAbsoluteError()">Absolute Error</button>
    </div>
    <div class="row">
      <button type="button" class="btn btn-info col-5" (click)="FindAbsoluteErrorTable()">Find Absolute Error Table
      </button>
      <button type="button" class="btn btn-info col-5 offset-1" (click)="FitParams()">Fit Params</button>
    </div>

  </div>
  <div class="col-8">

    <div [ngSwitch]="switcher">
      <div *ngSwitchCase="1">
        <tr *ngFor="let q of mortalityTableModels;"><td>
          {{q.Lx}}</td>
        </tr>
      </div>
      <div *ngSwitchCase="2">
        <img src={{plotUrl}} alt="Plot" width="700" height="700">
      </div>
      <div *ngSwitchCase="3">
        <img src={{plotUrl}} alt="Plot" width="700" height="700">
      </div>
      <div *ngSwitchCase="4">
        <h3> Absolute Error: {{absoluteError}}</h3>
      </div>
      <div *ngSwitchCase="5">
      </div>
      <div *ngSwitchCase="6">
      </div>
    </div>
  </div>
</div>
